name: portfolio-staging

services:
  portfolio-landing-staging:
    container_name: portfolio-landing-staging
    image: portfolio-landing-staging:latest
    ports:
      - 3002:3000
    restart: unless-stopped
  portfolio-docs-staging:
    container_name: portfolio-docs-staging
    image: portfolio-docs-staging:latest
    ports:
      - 3003:3000
    restart: unless-stopped