
name: "Portoflio V2 - Staging Area Deployment"

on:
  push:
    branches:
      - staging
    # Runs on all paths, instead of main areas
    paths:
      - portfolio/
      - docs/
      - content/
  workflow_dispatch:
    # For the time being, only run changes on the portfolio site

jobs:
  deploy-staging-repo:
    name: "Deploy staging repo into dedicated staging area"
    runs-on: [docker, self-hosted]

    steps:
      # Download repo
      - name: Checkout code
        uses: actions/checkout@v3

      # Build the app and make a Docker image of it
      - name: Build docs site Docker image
        run: docker build -t portfolio-docs-staging:latest -f docs/Dockerfile .

      # Build the app and make a Docker image of it
      - name: Build landing site Docker image
        run: docker build -t portfolio-landing-staging:latest -f landing/Dockerfile .

      # If already up, take it down
      - name: Stop and remove existing container
        run: docker compose -f docker/staging/docker-compose.yml down || true

      # Start the app once again
      - name: Start container with Docker Compose
        run: docker compose -f docker/staging/docker-compose.yml up -d